.thumbnail {
  cursor: pointer;
  img {
    width: 150px;
  }
  :hover {
    opacity: 0.7;
  }
}

.slideContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 300px;

  .slide {
    position: absolute; /* Ensure slides are stacked */
    top: 0;
    left: 0;
    width: 100%; /* Match container size */
    height: 100%;
    background-size: cover; /* Ensure background images fill the area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    opacity: 0; /* Hidden by default */
    visibility: hidden; /* Prevent interaction when hidden */
    min-height: 100px;
    transform: scale(1.1);
    transition: opacity 1s ease-in-out, transform 5s ease-in-out;
    will-change: opacity, transform;
    
    img {
      max-width: 100vw;
    }

    &.active {
      opacity: 1; /* Fully visible */
      visibility: visible; /* Allow interaction */
      z-index: 10; /* Bring to the front */
      transform: scale(0.5); // Slight zoom for the Ken Burns effect    
    }
  }
}

.slideshowNavigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slideshowIndicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.thumbnail {
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnail.active {
  opacity: 1;
}