//////////////////////////////////////////////////////////////////
// Rico Slideshow Config 1
//////////////////////////////////////////////////////////////////

.bbaysinger-slideshow {
  background-color: #000;
  color: white;
}

.content-wrapper {
  h2 {
    font-size: 45px;
    font-weight: bold;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 3px solid #fff;
    border-radius: 50px; /* This value should be greater than half the button's height */
    text-align: center;
    cursor: pointer;

    &.cta {
      background-color: #fff;
      color: #000;
      display: block;
    }
  }
}

.thumbnail-button-wrapper {
  button:focus {
    outline: 2px solid #0078d7;
  }

  .thumbnail {
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    img {
      width: 150px;
    }

    &:hover {
      opacity: 0.7;
    }

    &.active {
      opacity: 1;
    }
  }
}

.arrow-button-wrapper {
  display: none;
}

//////////////////////////////////////////////////////////////////
// Rico Slideshow Config 2
//////////////////////////////////////////////////////////////////
