body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

//////////////////////////////////////////////////////////////////
// Rico Slideshow Config 1
//////////////////////////////////////////////////////////////////

.bbaysinger-slideshow {
  background-color: #000;
}

.button-controls {
  button:focus {
    outline: 2px solid #0078d7;
  }
}

//////////////////////////////////////////////////////////////////
// Rico Slideshow Config 2
//////////////////////////////////////////////////////////////////
