@use "sass:map";

// Hardcoded Bootstrap breakpoints
$breakpoints: (
  // Not a Bootstrap breakpoint
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Mobile-first media queries
@mixin breakpoint-up($breakpoint) {
  $min-width: map.get($breakpoints, $breakpoint);
  @if $min-width != null {
    @media (min-width: $min-width) {
      @content;
    }
  }
}
